@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Silkscreen&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: #3f3f3f;
    line-height: 2;
    color: #DCDCCC;
    font-family: 'Anonymous Pro', monospace;
}

.top-container {
    text-align: center;
    margin: 20px auto;
    position: relative;
}

.middle-container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.bottom-container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.profile-portrait {
    height: 400px;
}

ul {
    margin-bottom: 30px;
}

li {
    display: inline-block;
}

a:link {color: #8CD0D3}
a:visited {color: #ECBCBC}
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Silkscreen', sans-serif;
    margin: 30px auto;
}

h2 {
    color: #80D4AA;
    font-size: 2rem;
}

h3 {
    color: #F0DFAF;
    font-size: 1.5rem;

}

h4 {
    color: #DFAF8F;
    font-size: 1.3rem;
    animation: headingAnimation 2s ease 0s 1 normal forwards;
}

@keyframes headingAnimation {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

h5 {
    color: #DCA3A3;
    font-size: 1.1rem;
}

h6 {
    color: #DFAF8F;
}

p,
ul,
li,
em,
strong,
i,
b,
a {
    font-family: 'Anonymous Pro', monospace;

}


hr {
    border-style: none;
    border-top-style: groove;
    border-color: #262626;
    border-width: 10px;
    width: 15%;
    margin:10px auto;
}
